[submodule "testes"]
	path = testes
	url = https://github.com/disruptek/testes
	branch = tag/0.7.6
[submodule "grok"]
	path = grok
	url = https://github.com/disruptek/grok
	branch = tag/0.2.0
[submodule "jason"]
	path = jason
	url = https://github.com/disruptek/jason
	branch = tag/0.4.0
[submodule "frosty"]
	path = frosty
	url = https://github.com/disruptek/frosty
	branch = tag/0.4.4
[submodule "sorta"]
	path = sorta
	url = https://github.com/narimiran/sorta
	branch = commit/be57458b5b075151cbc192a99c2a43e513a6340a
[submodule "bytes2human"]
	path = bytes2human
	url = https://github.com/juancarlospaco/nim-bytes2human
	branch = commit/191ae9e9a0126ab57bd1953218491c5bfc19e200
[submodule "criterion"]
	path = criterion
	url = https://github.com/disruptek/criterion
	branch = tag/0.2.3
[submodule "gram"]
	path = gram
	url = https://github.com/disruptek/gram
[submodule "bump"]
	path = bump
	url = https://github.com/disruptek/bump
	branch = tag/1.8.25
[submodule "cutelog"]
	path = cutelog
	url = https://github.com/disruptek/cutelog
	branch = tag/1.1.2
[submodule "skiplists"]
	path = skiplists
	url = https://github.com/disruptek/skiplists
	branch = tag/0.4.2
[submodule "weave"]
	path = weave
	url = https://github.com/mratsim/weave
	branch = tag/v0.4.0
[submodule "cligen"]
	path = cligen
	url = https://github.com/c-blake/cligen
	branch = tag/v1.2.2
[submodule "arraymancer"]
	path = arraymancer
	url = https://github.com/mratsim/Arraymancer
	branch = tag/v0.6.1
[submodule "synthesis"]
	path = synthesis
	url = https://github.com/mratsim/Synthesis
	branch = tag/v0.1.0
[submodule "nimcl"]
	path = nimcl
	url = https://github.com/unicredit/nimcl
	branch = tag/0.1.3
[submodule "nimblas"]
	path = nimblas
	url = https://github.com/unicredit/nimblas
	branch = tag/0.2.1
[submodule "clblast"]
	path = clblast
	url = https://github.com/numforge/nim-clblast
	branch = commit/4a602c9135160ffc89f779432acba7e51097e717
[submodule "nimlapack"]
	path = nimlapack
	url = https://github.com/unicredit/nimlapack
	branch = tag/0.1.1
[submodule "stb_image"]
	path = stb_image
	url = https://gitlab.com/define-private-public/stb_image-Nim.git
	branch = tag/2.4
[submodule "nimcuda"]
	path = nimcuda
	url = https://github.com/unicredit/nimcuda
	branch = tag/0.1.7
[submodule "npeg"]
	path = npeg
	url = https://github.com/zevv/npeg
	branch = tag/0.23.2