[submodule "grok"]
	path = grok
	url = https://github.com/disruptek/grok
	branch = tag/0.5.2
[submodule "jason"]
	path = jason
	url = https://github.com/disruptek/jason
	branch = tag/0.4.0
[submodule "frosty"]
	path = frosty
	url = https://github.com/disruptek/frosty
	branch = tag/2.1.0
[submodule "sorta"]
	path = sorta
	url = https://github.com/narimiran/sorta
	branch = commit/be57458b5b075151cbc192a99c2a43e513a6340a
[submodule "bytes2human"]
	path = bytes2human
	url = https://github.com/juancarlospaco/nim-bytes2human
	branch = commit/191ae9e9a0126ab57bd1953218491c5bfc19e200
[submodule "criterion"]
	path = criterion
	url = https://github.com/disruptek/criterion
	branch = tag/0.2.8
[submodule "gram"]
	path = gram
	url = https://github.com/disruptek/gram
	branch = tag/0.4.1
[submodule "bump"]
	path = bump
	url = https://github.com/disruptek/bump
	branch = tag/1.8.25
[submodule "cutelog"]
	path = cutelog
	url = https://github.com/disruptek/cutelog
	branch = tag/2.0.0
[submodule "skiplists"]
	path = skiplists
	url = https://github.com/disruptek/skiplists
	branch = tag/0.5.4
[submodule "cligen"]
	path = cligen
	url = https://github.com/c-blake/cligen
	branch = tag/v1.2.2
[submodule "npeg"]
	path = npeg
	url = https://github.com/zevv/npeg
	branch = tag/0.23.2
[submodule "flatty"]
	path = flatty
	url = https://github.com/treeform/flatty
	branch = tag/0.1.2
[submodule "zippy"]
	path = zippy
	url = https://github.com/guzba/zippy
	branch = tag/0.6.0
[submodule "packedjson"]
	path = packedjson
	url = https://github.com/Araq/packedjson
	branch = tag/0.2.1
[submodule "nimsimd"]
	path = nimsimd
	url = https://github.com/guzba/nimsimd
	branch = tag/0.4.5
[submodule "jester"]
	path = jester
	url = https://github.com/dom96/jester
	branch = tag/v0.5.0
[submodule "nimcrypto"]
	path = nimcrypto
	url = https://github.com/cheatfate/nimcrypto
	branch = commit/a065c1741836462762d18d2fced1fedd46095b02
[submodule "karax"]
	path = karax
	url = https://github.com/pragmagic/karax
	branch = tag/1.1.3
[submodule "regex"]
	path = regex
	url = https://github.com/nitely/nim-regex
	branch = tag/v0.18.0
[submodule "asynctools"]
	path = asynctools
	url = https://github.com/cheatfate/asynctools
	branch = commit/c478bb74268c65e7400e81f49d26f82d20f1f57a
[submodule "httpbeast"]
	path = httpbeast
	url = https://github.com/dom96/httpbeast
	branch = tag/v0.2.2
[submodule "ggplotnim"]
	path = ggplotnim
	url = https://github.com/Vindaar/ggplotnim
	branch = tag/v0.3.20
[submodule "ginger"]
	path = ginger
	url = https://github.com/Vindaar/ginger
	branch = tag/v0.2.7
[submodule "cairo"]
	path = cairo
	url = https://github.com/nim-lang/cairo
	branch = tag/1.1.1
[submodule "seqmath"]
	path = seqmath
	url = https://github.com/Vindaar/seqmath
	branch = tag/v0.1.11
[submodule "persvector"]
	path = persvector
	url = https://github.com/PMunch/nim-persistent-vector
	branch = commit/3f92a26aced63c4d443f62a31402329a1c18d22e
[submodule "shell"]
	path = shell
	url = https://github.com/Vindaar/shell
	branch = tag/v0.4.1
[submodule "jsonschema"]
	path = jsonschema
	url = https://github.com/PMunch/jsonschema
	branch = commit/7b41c03e3e1a487d5a8f6b940ca8e764dc2cbabf
[submodule "ast_pattern_matching"]
	path = ast_pattern_matching
	url = https://github.com/krux02/ast-pattern-matching
	branch = commit/87f7d163421af5a4f5e5cb6da7b93278e6897e96
[submodule "nimlsp"]
	path = nimlsp
	url = https://github.com/PMunch/nimlsp
	branch = tag/v0.2.4
[submodule "untar"]
	path = untar
	url = https://github.com/dom96/untar
	branch = commit/d21f7229b843b7f7ddfdb35deaae3f292d0cd1ed
[submodule "zip"]
	path = zip
	url = https://github.com/nim-lang/zip
	branch = 0.3.1
[submodule "fidget"]
	path = fidget
	url = https://github.com/treeform/fidget
	branch = tag/0.6.2
[submodule "chroma"]
	path = chroma
	url = https://github.com/treeform/chroma
	branch = tag/0.2.1
[submodule "supersnappy"]
	path = supersnappy
	url = https://github.com/guzba/supersnappy
	branch = tag/2.0.0
[submodule "bumpy"]
	path = bumpy
	url = https://github.com/treeform/bumpy
	branch = tag/0.2.0
[submodule "vmath"]
	path = vmath
	url = https://github.com/treeform/vmath
	branch = tag/0.4.0
[submodule "pixie"]
	path = pixie
	url = https://github.com/treeform/pixie
	branch = tag/0.0.6
[submodule "print"]
	path = print
	url = https://github.com/treeform/print
	branch = tag/0.1.0
[submodule "typography"]
	path = typography
	url = https://github.com/treeform/typography
	branch = tag/0.7.0
[submodule "opengl"]
	path = opengl
	url = https://github.com/nim-lang/opengl
	branch = tag/1.2.5
[submodule "html5_canvas"]
	path = html_canvas
	url = https://gitlab.com/define-private-public/HTML5-Canvas-Nim
	branch = commit/9302d96efb5b4d0fc406e9eb20deca9c5465cef8
[submodule "staticglfw"]
	path = staticglfw
	url = https://github.com/treeform/staticglfw
	branch = tag/4.1.2
[submodule "arraymancer"]
	path = arraymancer
	url = https://github.com/mratsim/Arraymancer
	branch = tag/v0.6.1
[submodule "synthesis"]
	path = synthesis
	url = https://github.com/mratsim/Synthesis
	branch = tag/v0.1.0
[submodule "nimcl"]
	path = nimcl
	url = https://github.com/unicredit/nimcl
	branch = tag/0.1.3
[submodule "nimblas"]
	path = nimblas
	url = https://github.com/unicredit/nimblas
	branch = tag/0.2.1
[submodule "clblast"]
	path = clblast
	url = https://github.com/numforge/nim-clblast
	branch = commit/4a602c9135160ffc89f779432acba7e51097e717
[submodule "nimlapack"]
	path = nimlapack
	url = https://github.com/unicredit/nimlapack
	branch = tag/0.1.1
[submodule "stb_image"]
	path = stb_image
	url = https://gitlab.com/define-private-public/stb_image-Nim.git
	branch = tag/2.4
[submodule "nimcuda"]
	path = nimcuda
	url = https://github.com/unicredit/nimcuda
	branch = tag/0.1.7
[submodule "macroutils"]
	path = macroutils
	url = https://github.com/PMunch/macroutils
	branch = tag/v1.1.0
[submodule "nimterop"]
	path = nimterop
	url = https://github.com/genotrance/nimterop
	branch = tag/v0.6.11
[submodule "nimgit2"]
	path = nimgit2
	url = https://github.com/genotrance/nimgit2
	branch = tag/v0.3.2
[submodule "gittyup"]
	path = gittyup
	url = https://github.com/disruptek/gittyup
	branch = tag/2.6.2
[submodule "nimble"]
	path = nimble
	url = https://github.com/nim-lang/nimble
	branch = tag/v0.12.0
[submodule "unicodedb"]
	path = unicodedb
	url = https://github.com/nitely/nim-unicodedb
	branch = tag/v0.9.0
[submodule "unicodeplus"]
	path = unicodeplus
	url = https://github.com/nitely/nim-unicodeplus
	branch = tag/v0.8.0
[submodule "nimp"]
	path = nimp
	url = https://github.com/c-blake/nimp
	branch = commit/3818a6f864c839ee683ed66cd40d2bd81de39c93
[submodule "fusion"]
	path = fusion
	url = https://github.com/nim-lang/fusion
	branch = commit/fadb9130ddcd5fb5f4551aa5fa8d7821f38c52ca
[submodule "ws"]
	path = ws
	url = https://github.com/treeform/ws
	branch = tag/0.4.3
[submodule "pg"]
	path = pg
	url = https://github.com/treeform/pg
	branch = tag/0.1.0
[submodule "urlly"]
	path = urlly
	url = https://github.com/treeform/urlly
	branch = tag/0.2.0
[submodule "balls"]
	path = balls
	url = https://github.com/disruptek/balls
	branch = tag/3.7.0
[submodule "ups"]
	path = ups
	url = https://github.com/disruptek/ups
	branch = tag/0.0.7
[submodule "cps"]
	path = cps
	url = https://github.com/disruptek/cps
	branch = tag/0.4.4
[submodule "adix"]
	path = adix
	url = https://github.com/c-blake/adix
	branch = tag/0.2.1
